CairoSVG>=2.5.1
Markdown==3.3.6
Pillow
Pygments>=2.7.4
Unidecode==0.4.20
asana
bleach
celery==5.2.3
diff-match-patch==20121119
django-ipware==1.1.6
django-jinja
django-pglocks==1.0.4
django-picklefield
django-sampledatahelper==0.4.1
django-sites
django-sr==0.0.4
django<4.0,>=2.2
djmail==2.0.0
easy-thumbnails==2.8.1
gunicorn==20.1.0
html5lib
netaddr==0.7.19
oauthlib[signedtoken]
premailer==3.0.1
psd-tools==1.9.18
psycopg2-binary==2.8.5
pymdown-extensions==8.1.1
python-dateutil==2.7.5
python-magic==0.4.15
pytz
requests==2.27.1
requests_oauthlib
rudder-sdk-python==1.0.0b1
serpy==0.1.1
six
webcolors==1.9.1
zipp<2
