{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
#}

{% set invitation_url = resolve_front_url("PROJECT_INVITATION", invitation_token=invitation_token) -%}
Taiga invitation

{% if receiver_name -%}
Hi {{ receiver_name }},
{% else -%}
Hi there,
{% endif -%}
{{ sender_name }} sent you an invitation to join:

{{ project_name }}
{{ project_workspace }}

{% if not receiver_name -%}
Taiga is an Open Source Agile Project Management Tool. There is no cost for you to be a Taiga user.
{% endif -%}
{{ invitation_url }}

Welcome,
Taiga Team

Need help? Contact us at {{ settings.SUPPORT_EMAIL }}
