{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
#}

{% set reset_password_url = resolve_front_url("RESET_PASSWORD", reset_password_token=reset_password_token) -%}

Reset your password.

We've received a request to reset your password. Visit this url to choose a new one:

{{ reset_password_url }}

If you didn’t request a reset, don’t worry, you can safely ignore this email.

Taiga Team

Need help? Contact us at {{ settings.SUPPORT_EMAIL }}
