{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
#}

{% set verify_url = "https://next-dev.taiga.io/signup/verify/" ~ verification_token -%}
Taiga sign up

Verify your email
Copy and paste this URL into you web browser:
{{ verify_url }}

Welcome,
The Taiga Team

This link will expire in 4 days.
If you did not create an account using this address, please ignore this email.
Need help? Contact us at {{ support_email }}
