{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
#}

Taiga sign up
Verify your email
To start using Taiga just click on the button below
Verify your email
Button not working? Copy and paste this URL into you web browser:
https://taiga6.kaleidos.net/verify-email/396438bb-894a-4401-8d3b-7c0d22abaf5b
Welcome,
The Taiga Team
This link will expire in X days.
If you did not create an account using this address, please ignore this email.
Need help? Contact support
