<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
-->
<mjml>
  <mj-head>
    <mj-title>Taiga sign up</mj-title>
    <mj-include path="../../components/head.mjml" />
  </mj-head>
  <mj-body css-class="body">
    <mj-raw>
      {% set verify_url = resolve_front_url("VERIFY_SIGNUP",
      verification_token=verification_token) -%}
    </mj-raw>
    <mj-wrapper css-class="body-content">
      <mj-include path="../../components/header-logo.mjml" />
      <mj-section mj-class="padding-section">
        <mj-column>
          <mj-text css-class="dm-text"
            mj-class="font-heading1 color-gray100">
            Verify your email
          </mj-text>
          <mj-text css-class="dm-text"
            mj-class="font-heading2 color-gray90">
            To start using Taiga just click on the button below
          </mj-text>
          <mj-button css-class="btn-primary"
            mj-class="btn-primary"
            href="{{ verify_url }}">
            Verify your email
          </mj-button>
          <mj-text css-class="dm-text"
            mj-class="font-body color-gray70">
            Button not working? Copy and paste this URL into your web browser:
          </mj-text>
          <mj-text css-class="dm-text-gray primary-link"
            mj-class="font-body padding-bottom-24">
            <a class="primary-link"
              href="{{ verify_url }}">{{ verify_url | wbr_split }}</a>
          </mj-text>
          <mj-text css-class="dm-text"
            mj-class="font-body"> Welcome, </mj-text>
          <mj-text css-class="dm-text"
            mj-class="font-body padding-bottom-24">
            Taiga Team
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-include path="../../components/footer-expiration.mjml" />
    </mj-wrapper>
  </mj-body>
</mjml>
