# -*- coding: utf-8 -*-
from taiga6.settings.common import *  # noqa

DEBUG = True

TEMPLATES[0]["OPTIONS"]['context_processors'] += "django.template.context_processors.debug"

ENABLE_TELEMETRY = False

# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.postgresql',
#         'NAME': 'taiga',
#         'USER': 'taiga',
#         'PASSWORD': '',
#         'HOST': '',
#         'PORT': '',
#     }
# }
