<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
-->
<mjml>
  <mj-head>
    <mj-title>Reset your Taiga password</mj-title>
    <mj-include path="../../components/head.mjml" />
    <mj-html-attributes>
      <mj-selector path=".btn-primary a">
        <mj-html-attribute name="data-test">accept-reset-password</mj-html-attribute>
      </mj-selector>
    </mj-html-attributes>
  </mj-head>
  <mj-body css-class="body">
    <mj-raw>
      {% set reset_password_url = resolve_front_url("RESET_PASSWORD",
      reset_password_token=reset_password_token) -%}
    </mj-raw>
    <mj-wrapper css-class="body-content">
      <mj-include path="../../components/header-logo.mjml" />
      <mj-section>
        <mj-column>
          <mj-text css-class="dm-text"
            mj-class="font-heading1 color-gray100">
            Reset your password
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-text css-class="dm-text"
            mj-class="font-body color-gray80">
              We've received a request to reset your password. Click the button below to choose a new one:
          </mj-text>
          <mj-button css-class="btn-primary"
            mj-class="btn-primary padding-top"
            href="{{ reset_password_url }}">
            Reset password
          </mj-button>
          <mj-text css-class="dm-text"
            mj-class="font-body color-gray70">
            Button not working? Copy and paste this URL into your web browser:
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section mj-class="padding-bottom">
        <mj-column>
          <mj-text css-class="dm-text-gray primary-link"
            mj-class="font-body padding-bottom">
            <table style="border-collapse:collapse;border:0;width:100%"
              width="100%"
              cellspacing="0"
              cellpadding="0"
              border="0">
              <tbody>
                <tr>
                  <td valign="top">
                    <p
                      style="font-size:14px;line-height:21px;margin:0; text-align: left; word-break:break-all; ">
                      <a class="primary-link"
                        href="{{ reset_password_url }}"
                        style="word-wrap:break-word; word-break:break-all; font-family: Ubuntu, Arial, Helvetica, sans-serif;">{{
                        reset_password_url | wbr_split }}</a>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-text css-class="dm-text"
            mj-class="font-body padding-bottom">
            Taiga Team
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-include path="../../components/footer-ignore-email.mjml" />
    </mj-wrapper>
  </mj-body>
</mjml>
