/* You can add global styles to this file, and also import other style files */

@import "@angular/cdk/overlay-prebuilt.css";

:host {
  font-display: swap;

  /*
  * TAIGA UI CUSTOM PROPERTIES
  */

  /* DOM */
  --tui-autofill: #fff; /* color for native browser autofill */
  --tui-disabled-opacity: 1; /* amount of transparency for disabled elements  */
  --tui-heading-font: "Ubuntu", sans-serif; /* font for headings */
  --tui-text-font: "Ubuntu", sans-serif; /* font for text */
  --tui-height-l: 70px; /*  large elements height (i.e. inputs, buttons)  */
  --tui-height-m: 4px;
  --tui-height-s: 4px;
  --tui-height-xs: 0;
  --tui-radius-l: 0; /* border radius for containers (i.e. hint, accordion)  */
  --tui-radius-m: 0; /* default border radius  */
  --tui-radius-s: 0; /* border radius for small elements (i.e. tags)  */
  --tui-radius-xs: 0; /* br for smallest items (i.e. small checkbox)  */

  /* Colors */
  --tui-text-01: #2e3440; /* Primary text and hedings */
  --tui-text-02: #4c566a; /* Secondary text and descriptions */
  --tui-text-03: #d8dee9; /* Inactive, minor information and helpers */
  --tui-link: #008aa8; /* Link and secondary buttons text */
  --tui-link-hover: #008aa8;
  --tui-positive: #93c45d; /* Positive values: income, stock price grow, etc. */
  --tui-positive-hover: #93c45d;
  --tui-negative: #e44057; /* Negative values */
  --tui-negative-hover: #e44057;

  /* Status */
  --tui-error-fill: #e44057; /* Icons or other elements with error status */
  --tui-error-bg: #e44057;
  --tui-error-bg-hover: #e44057;
  --tui-success-fill: #93c45d; /* Icons or other elements with success status */
  --tui-success-bg: #93c45d;
  --tui-success-bg-hover: #93c45d;
  --tui-warning-fill: #f6c95c; /* Icons or other elements with warning status */
  --tui-warning-bg: #f6c95c;
  --tui-warning-bg-hover: #f6c95c;
  --tui-info-fill: #93c45d; /* Icons or other elements with info status */
  --tui-info-bg: #93c45d;
  --tui-info-bg-hover: #93c45d;
  --tui-neutral-fill: #4c566a; /* Icons or other elements with neutral status */
  --tui-neutral-bg: #4c566a;
  --tui-neutral-bg-hover: #4c566a;

  /* Base */
  --tui-base-01: #fff;
  --tui-base-02: #f9f9fb;
  --tui-base-03: #eceff4;
  --tui-base-04: #e5e9f0;
  --tui-base-05: #d8dee9;
  --tui-base-06: #4c566a;
  --tui-base-07: #434c5e;
  --tui-base-08: #2e3440;
  --tui-base-09: #000;
  --tui-primary: #83eede;
  --tui-primary-hover: #83eede;
  --tui-primary-active: #008aa8;
  --tui-secondary: #c00;
  --tui-secondary-hover: #a7cb23;
  --tui-secondary-active: #e9f1c8;
  --tui-accent: #ea7b4b;
  --tui-accent-hover: #ea7b4b;
  --tui-accent-active: #e44057;
  --tui-selection: #83eede;
  --tui-focus: #83eede;
  --tui-clear: #f9f9fb;
  --tui-clear-hover: #f9f9fb;
  --tui-clear-active: #eceff4;
}

/* TODO: modal styles */
.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.modal-bg {
  background-color: rgba(10, 10, 10, .86);
}
